# Chewy SQL Interview Practice

This notebook contains SQL practice questions modeled after typical Chewy data analyst interview questions. Focus on:
1. **Group By Aggregations** - Common in e-commerce analytics
2. **Advanced String Aggregation** - LIST_AGG and similar functions
3. **Multiple Solution Approaches** - Be ready to discuss alternatives

## Interview Tips:
- Always explain your approach before writing
- Discuss trade-offs between different methods
- Consider performance implications
- Be ready for follow-up questions about optimization

---

## Question 1: Simple Aggregation - Order Volume by Product Category

**Interviewer:** "We want to understand our product performance. Write a SQL query to show the total number of orders and total revenue for each product category in the last 30 days. Order by total revenue descending."

### Schema:
```sql
-- Table: orders
CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    total_amount DECIMAL(10,2),
    fulfillment_center_id INT
);

-- Table: order_items  
CREATE TABLE order_items (
    order_item_id INT PRIMARY KEY,
    order_id INT,
    product_id INT,
    quantity INT,
    unit_price DECIMAL(10,2),
    line_total DECIMAL(10,2)
);

-- Table: products
CREATE TABLE products (
    product_id INT PRIMARY KEY,
    product_name VARCHAR(255),
    category VARCHAR(100),
    brand VARCHAR(100),
    unit_cost DECIMAL(10,2)
);
```

**Expected Output:**
- category
- total_orders 
- total_revenue
- avg_order_value

### Your Solution:

In [ ]:
%%sql
-- Write your SQL query here:

-- Your approach: Explain your thinking before writing the code
-- 1. Join orders with order_items to get detailed item data
-- 2. Join with products to get category information  
-- 3. Filter for last 30 days
-- 4. Group by category and aggregate

-- YOUR CODE HERE
SELECT 
    -- Fill in your solution
FROM 
    -- Your tables and joins
WHERE 
    -- Your filter conditions
GROUP BY 
    -- Your grouping
ORDER BY 
    -- Your ordering

### 🔽 Solution & Follow-up Discussion

In [ ]:
%%sql
-- SOLUTION 1: Standard approach with explicit joins
SELECT 
    p.category,
    COUNT(DISTINCT o.order_id) AS total_orders,
    SUM(oi.line_total) AS total_revenue,
    ROUND(SUM(oi.line_total) / COUNT(DISTINCT o.order_id), 2) AS avg_order_value
FROM 
    orders o
    INNER JOIN order_items oi ON o.order_id = oi.order_id
    INNER JOIN products p ON oi.product_id = p.product_id
WHERE 
    o.order_date >= CURRENT_DATE - INTERVAL '30 days'
    AND o.order_date < CURRENT_DATE
GROUP BY 
    p.category
ORDER BY 
    total_revenue DESC;

-- ALTERNATIVE SOLUTION 2: Using CTE for clarity
WITH recent_orders AS (
    SELECT o.order_id, o.customer_id, o.order_date, o.total_amount
    FROM orders o
    WHERE o.order_date >= CURRENT_DATE - INTERVAL '30 days'
),
order_details AS (
    SELECT 
        ro.order_id,
        p.category,
        oi.line_total
    FROM recent_orders ro
    JOIN order_items oi ON ro.order_id = oi.order_id
    JOIN products p ON oi.product_id = p.product_id
)
SELECT 
    category,
    COUNT(DISTINCT order_id) AS total_orders,
    SUM(line_total) AS total_revenue,
    ROUND(SUM(line_total) / COUNT(DISTINCT order_id), 2) AS avg_order_value
FROM order_details
GROUP BY category
ORDER BY total_revenue DESC;

-- ALTERNATIVE SOLUTION 3: Window function approach for additional insights
SELECT 
    p.category,
    COUNT(DISTINCT o.order_id) AS total_orders,
    SUM(oi.line_total) AS total_revenue,
    ROUND(SUM(oi.line_total) / COUNT(DISTINCT o.order_id), 2) AS avg_order_value,
    ROUND(100.0 * SUM(oi.line_total) / SUM(SUM(oi.line_total)) OVER(), 2) AS revenue_percentage
FROM 
    orders o
    INNER JOIN order_items oi ON o.order_id = oi.order_id
    INNER JOIN products p ON oi.product_id = p.product_id
WHERE 
    o.order_date >= CURRENT_DATE - INTERVAL '30 days'
GROUP BY 
    p.category
ORDER BY 
    total_revenue DESC;

**Follow-up Questions & Answers:**

**Q: "Is this the simplest approach? What other methods could you use?"**

A: *The three approaches above show different trade-offs:*
- **Solution 1** is most straightforward and performant for simple aggregation
- **Solution 2** uses CTEs for better readability when logic gets complex  
- **Solution 3** adds window functions for percentage calculations in one pass

**Q: "What if the data is very large? How would you optimize this?"**

A: *Several optimization strategies:*
1. **Indexing**: Ensure indexes on `order_date`, `order_id`, `product_id`
2. **Partitioning**: If orders table is partitioned by date, query will be faster
3. **Materialized views**: Pre-compute daily/weekly aggregations
4. **Date filtering first**: Filter orders table first, then join (already doing this)

**Q: "What about data quality concerns?"**

A: *Key considerations:*
- Handle NULL categories with `COALESCE(p.category, 'Unknown')`
- Validate that line_total = quantity * unit_price
- Consider cancelled/returned orders if business rules require exclusion

---

## Question 2: Advanced String Aggregation - Top 3 Fulfillment Centers

**Interviewer:** "We want to see which fulfillment centers are handling the most orders by state. Write a query that shows, for each state, the top 3 fulfillment centers by order count, with their names concatenated into a single column."

### Schema:
```sql
-- Table: fulfillment_centers
CREATE TABLE fulfillment_centers (
    fc_id INT PRIMARY KEY,
    fc_name VARCHAR(100),
    state VARCHAR(50),
    city VARCHAR(100),
    capacity INT
);

-- Table: orders (same as before but using fulfillment_center_id)
CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    total_amount DECIMAL(10,2),
    fulfillment_center_id INT
);
```

**Expected Output:**
- state
- top_3_centers (comma-separated list like "FC-NYC-01, FC-NYC-02, FC-BUF-01")
- total_orders_top3 (sum of orders for these top 3 centers)

### Your Solution:

In [ ]:
%%sql
-- Write your SQL query here:

-- Your approach: Think through the steps
-- 1. Get order counts by fulfillment center and state
-- 2. Rank centers within each state  
-- 3. Keep only top 3 per state
-- 4. Use string aggregation to concatenate names
-- 5. Sum the order counts for the top 3

-- YOUR CODE HERE
WITH fc_order_counts AS (
    -- Step 1: Count orders by fulfillment center
    SELECT 
        -- Your aggregation logic here
    FROM 
        -- Your joins here
    GROUP BY 
        -- Your grouping here
),
ranked_centers AS (
    -- Step 2: Rank centers within each state
    SELECT 
        -- Your ranking logic here
    FROM fc_order_counts
),
top_3_centers AS (
    -- Step 3: Filter to top 3
    SELECT * 
    FROM ranked_centers 
    WHERE -- Your ranking filter here
)
-- Step 4 & 5: Aggregate the results
SELECT 
    -- Your final aggregation with STRING_AGG/LISTAGG
FROM top_3_centers
GROUP BY -- Your final grouping
ORDER BY -- Your ordering

### 🔽 Solution & Follow-up Discussion

In [ ]:
%%sql
-- SOLUTION 1: Using ROW_NUMBER() and STRING_AGG (PostgreSQL/SQL Server)
WITH fc_order_counts AS (
    SELECT 
        fc.state,
        fc.fc_name,
        COUNT(o.order_id) AS order_count
    FROM 
        fulfillment_centers fc
        LEFT JOIN orders o ON fc.fc_id = o.fulfillment_center_id
    WHERE 
        o.order_date >= CURRENT_DATE - INTERVAL '30 days'  -- Optional: filter recent orders
    GROUP BY 
        fc.state, fc.fc_name, fc.fc_id
),
ranked_centers AS (
    SELECT 
        state,
        fc_name,
        order_count,
        ROW_NUMBER() OVER (PARTITION BY state ORDER BY order_count DESC, fc_name) AS rn
    FROM fc_order_counts
),
top_3_centers AS (
    SELECT * 
    FROM ranked_centers 
    WHERE rn <= 3
)
SELECT 
    state,
    STRING_AGG(fc_name, ', ' ORDER BY rn) AS top_3_centers,
    SUM(order_count) AS total_orders_top3
FROM top_3_centers
GROUP BY state
ORDER BY total_orders_top3 DESC;

-- SOLUTION 2: Using RANK() instead of ROW_NUMBER() (handles ties differently)
WITH fc_order_counts AS (
    SELECT 
        fc.state,
        fc.fc_name,
        COUNT(o.order_id) AS order_count
    FROM 
        fulfillment_centers fc
        LEFT JOIN orders o ON fc.fc_id = o.fulfillment_center_id
    GROUP BY 
        fc.state, fc.fc_name, fc.fc_id
),
ranked_centers AS (
    SELECT 
        state,
        fc_name,
        order_count,
        RANK() OVER (PARTITION BY state ORDER BY order_count DESC) AS rnk
    FROM fc_order_counts
),
top_3_centers AS (
    SELECT * 
    FROM ranked_centers 
    WHERE rnk <= 3
)
SELECT 
    state,
    STRING_AGG(fc_name || ' (' || order_count || ')', ', ' ORDER BY rnk, fc_name) AS top_3_centers_with_counts,
    SUM(order_count) AS total_orders_top3
FROM top_3_centers
GROUP BY state
ORDER BY total_orders_top3 DESC;

-- SOLUTION 3: Oracle/MySQL compatible using LISTAGG/GROUP_CONCAT
WITH fc_order_counts AS (
    SELECT 
        fc.state,
        fc.fc_name,
        COUNT(o.order_id) AS order_count
    FROM 
        fulfillment_centers fc
        LEFT JOIN orders o ON fc.fc_id = o.fulfillment_center_id
    GROUP BY 
        fc.state, fc.fc_name, fc.fc_id
),
ranked_centers AS (
    SELECT 
        state,
        fc_name,
        order_count,
        ROW_NUMBER() OVER (PARTITION BY state ORDER BY order_count DESC, fc_name) AS rn
    FROM fc_order_counts
),
top_3_centers AS (
    SELECT * 
    FROM ranked_centers 
    WHERE rn <= 3
)
SELECT 
    state,
    -- Oracle: LISTAGG(fc_name, ', ') WITHIN GROUP (ORDER BY rn) AS top_3_centers,
    -- MySQL: GROUP_CONCAT(fc_name ORDER BY rn SEPARATOR ', ') AS top_3_centers,
    SUM(order_count) AS total_orders_top3
FROM top_3_centers
GROUP BY state
ORDER BY total_orders_top3 DESC;

**Follow-up Questions & Answers:**

**Q: "Is this the simplest approach? What other methods could you use?"**

A: *Several alternative approaches with different trade-offs:*

1. **Correlated Subquery Approach** (less efficient but simpler logic):
   ```sql
   SELECT DISTINCT
       fc1.state,
       STRING_AGG(fc1.fc_name, ', ') AS top_3_centers
   FROM fulfillment_centers fc1
   WHERE (
       SELECT COUNT(DISTINCT fc2.fc_name)
       FROM fulfillment_centers fc2
       LEFT JOIN orders o2 ON fc2.fc_id = o2.fulfillment_center_id
       WHERE fc2.state = fc1.state 
       AND COUNT(o2.order_id) >= COUNT(o1.order_id)
   ) <= 3
   ```

2. **Array/JSON Aggregation** (PostgreSQL):
   ```sql
   SELECT 
       state,
       ARRAY_AGG(fc_name ORDER BY order_count DESC)[1:3] AS top_3_array
   ```

3. **Pivot-style approach** (less flexible):
   ```sql
   SELECT 
       state,
       MAX(CASE WHEN rn = 1 THEN fc_name END) || ', ' ||
       MAX(CASE WHEN rn = 2 THEN fc_name END) || ', ' ||
       MAX(CASE WHEN rn = 3 THEN fc_name END) AS top_3_centers
   ```

**Q: "What about database compatibility?"**

A: *String aggregation functions vary by database:*
- **PostgreSQL/SQL Server**: `STRING_AGG(column, delimiter ORDER BY ...)`
- **Oracle**: `LISTAGG(column, delimiter) WITHIN GROUP (ORDER BY ...)`
- **MySQL**: `GROUP_CONCAT(column ORDER BY ... SEPARATOR delimiter)`
- **SQLite**: No native function, need to use tricks or custom functions

**Q: "How would you handle edge cases?"**

A: *Key considerations:*
- **Ties in rankings**: `ROW_NUMBER()` vs `RANK()` vs `DENSE_RANK()`
- **States with < 3 centers**: Current solution handles this naturally
- **NULL order counts**: Use `COALESCE(COUNT(o.order_id), 0)`
- **Very long concatenated strings**: Add length limits with `LEFT()` or `SUBSTRING()`

**Q: "Performance optimization for large datasets?"**

A: *Optimization strategies:*
1. **Indexes**: On `(state, order_count)`, `(fc_id)`, `(order_date)`
2. **Materialized views**: Pre-compute order counts if refreshed periodically
3. **Partitioning**: Partition orders by date if historical analysis is common
4. **Limit data scope**: Add date filters to reduce data scanned

---

## Bonus Questions: Quick Practice

### Question 3: Customer Retention Rate
"Calculate the percentage of customers who placed an order in both the current month and the previous month."

### Question 4: Peak Hour Analysis  
"Find the hour of day with the highest average order value, along with the order count for that hour."

### Question 5: Product Affinity
"Show the top 5 product pairs that are most frequently bought together in the same order."

---

## Interview Strategy Summary

### Key Points to Remember:
1. **Always explain your approach first** - "I'm thinking of using a CTE to first aggregate, then rank..."
2. **Mention trade-offs** - "This approach is more readable but may be less performant than..."
3. **Consider edge cases** - "We should handle the case where..."
4. **Discuss alternatives** - "Another way to solve this would be..."
5. **Think about scale** - "For larger datasets, we'd want to consider indexing..."

### Common Follow-up Topics:
- **Performance optimization** (indexing, partitioning, materialized views)
- **Database compatibility** (different SQL dialects)
- **Data quality** (handling NULLs, duplicates, edge cases)
- **Alternative approaches** (different SQL patterns)
- **Business logic** (what the numbers actually mean)

### SQL Functions to Master:
- **Aggregation**: `COUNT`, `SUM`, `AVG`, `MIN`, `MAX`
- **Window functions**: `ROW_NUMBER()`, `RANK()`, `DENSE_RANK()`, `LAG()`, `LEAD()`
- **String aggregation**: `STRING_AGG()`, `LISTAGG()`, `GROUP_CONCAT()`
- **Date functions**: `DATE_TRUNC()`, `EXTRACT()`, `INTERVAL`
- **Conditional logic**: `CASE WHEN`, `COALESCE()`, `NULLIF()`

**Good luck with your Chewy interview! 🐾**

## Question 3: Last Saturday of Every Month (Date Logic)

**Interviewer:** "Find the last Saturday of every month for the past 1 year using SQL. This tests your date manipulation skills."

### Your Solution:

In [ ]:
%%sql
-- Your approach: Think through the date logic
-- 1. Generate months for the past year
-- 2. Find the last day of each month
-- 3. Calculate what day of week that is
-- 4. Subtract days to get to the last Saturday

-- YOUR CODE HERE
WITH months_range AS (
    -- Generate the past 12 months
    SELECT -- Your month generation logic
),
last_day_of_month AS (
    -- Find last day of each month
    SELECT -- Your last day calculation  
),
last_saturday AS (
    -- Calculate last Saturday of each month
    SELECT -- Your Saturday calculation
)
SELECT * FROM last_saturday
ORDER BY month_date;

### 🔽 Solution & Multiple Approaches

In [ ]:
%%sql
-- SOLUTION 1: PostgreSQL approach with generate_series
WITH months_range AS (
    SELECT 
        DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month' * generate_series(0, 11)) AS month_start
),
last_day_of_month AS (
    SELECT 
        month_start,
        (month_start + INTERVAL '1 month' - INTERVAL '1 day')::DATE AS month_end
    FROM months_range
),
last_saturday AS (
    SELECT 
        month_start,
        month_end,
        -- Saturday is day 6 (0=Sunday, 6=Saturday)
        -- Subtract days to get to last Saturday: (day_of_week + 1) % 7
        month_end - INTERVAL '1 day' * ((EXTRACT(DOW FROM month_end) + 1) % 7) AS last_saturday_date
    FROM last_day_of_month
)
SELECT 
    TO_CHAR(month_start, 'YYYY-MM') AS month,
    last_saturday_date,
    TO_CHAR(last_saturday_date, 'Day') AS day_name
FROM last_saturday
ORDER BY month_start DESC;

-- SOLUTION 2: SQL Server approach
WITH months_range AS (
    SELECT 
        DATEFROMPARTS(YEAR(DATEADD(month, -number, GETDATE())), 
                      MONTH(DATEADD(month, -number, GETDATE())), 1) AS month_start
    FROM master.dbo.spt_values 
    WHERE type = 'P' AND number BETWEEN 0 AND 11
),
last_saturday AS (
    SELECT 
        month_start,
        EOMONTH(month_start) AS month_end,
        DATEADD(day, -(DATEPART(weekday, EOMONTH(month_start)) % 7), EOMONTH(month_start)) AS last_saturday_date
    FROM months_range
)
SELECT 
    FORMAT(month_start, 'yyyy-MM') AS month,
    last_saturday_date,
    DATENAME(weekday, last_saturday_date) AS day_name
FROM last_saturday
ORDER BY month_start DESC;

-- SOLUTION 3: MySQL approach  
WITH RECURSIVE months_range AS (
    SELECT 
        LAST_DAY(CURDATE() - INTERVAL 1 MONTH) AS month_end,
        0 as month_offset
    UNION ALL
    SELECT 
        LAST_DAY(CURDATE() - INTERVAL (month_offset + 1) MONTH),
        month_offset + 1
    FROM months_range 
    WHERE month_offset < 11
)
SELECT 
    DATE_FORMAT(month_end, '%Y-%m') AS month,
    DATE_SUB(month_end, INTERVAL (WEEKDAY(month_end) + 2) % 7 DAY) AS last_saturday_date,
    DAYNAME(DATE_SUB(month_end, INTERVAL (WEEKDAY(month_end) + 2) % 7 DAY)) AS day_name
FROM months_range
ORDER BY month_end DESC;

-- SOLUTION 4: Oracle approach
WITH months_range AS (
    SELECT 
        ADD_MONTHS(TRUNC(SYSDATE, 'MM'), -LEVEL) AS month_start
    FROM dual
    CONNECT BY LEVEL <= 12
),
last_saturday AS (
    SELECT 
        month_start,
        LAST_DAY(month_start) AS month_end,
        LAST_DAY(month_start) - MOD(TO_CHAR(LAST_DAY(month_start), 'D') - 1, 7) AS last_saturday_date
    FROM months_range
)
SELECT 
    TO_CHAR(month_start, 'YYYY-MM') AS month,
    last_saturday_date,
    TO_CHAR(last_saturday_date, 'Day') AS day_name
FROM last_saturday
ORDER BY month_start DESC;

---

## Question 4: Days of Supply Analysis

**Interviewer:** "Given a table with daily supply and demand data, calculate how many days the current supply will last based on daily demand. This is critical for inventory management."

### Schema:
```sql
-- Sample data provided
CREATE TABLE inventory_daily (
    date_col DATE,
    supply INT,
    demand INT
);

INSERT INTO inventory_daily VALUES
('2023-01-01', 100, 10),
('2023-01-02', 115, 20), 
('2023-01-03', 132, 100),
('2023-01-04', 152, 150),
('2023-01-05', 175, 2000),
('2023-01-06', 201, 2100),
('2023-01-07', 231, 2200),
('2023-01-08', 266, 2315);
```

**Expected Output:**
- date_col
- current_supply  
- daily_demand
- days_of_supply (how many days current supply will last)
- supply_status (e.g., 'Critical' if < 2 days, 'Low' if < 7 days, 'Normal' otherwise)

In [ ]:
%%sql
-- Your approach: Calculate days of supply
-- 1. For each day, calculate days_of_supply = supply / demand
-- 2. Handle edge cases (zero demand, negative values)
-- 3. Categorize supply levels

SELECT 
    date_col,
    supply AS current_supply,
    demand AS daily_demand,
    CASE 
        WHEN demand = 0 THEN -- Handle division by zero
        WHEN demand > 0 THEN -- Calculate days of supply
        ELSE -- Handle negative demand
    END AS days_of_supply,
    CASE 
        WHEN -- Your status logic here
        WHEN -- Your status logic here  
        ELSE 'Normal'
    END AS supply_status
FROM inventory_daily
ORDER BY date_col;

In [ ]:
%%sql
-- SOLUTION: Days of Supply Calculation
SELECT 
    date_col,
    supply AS current_supply,
    demand AS daily_demand,
    CASE 
        WHEN demand = 0 THEN 999  -- Infinite supply if no demand
        WHEN demand > 0 THEN ROUND(supply::DECIMAL / demand, 2)
        ELSE 0  -- No supply if negative demand
    END AS days_of_supply,
    CASE 
        WHEN demand = 0 THEN 'Excess'
        WHEN supply::DECIMAL / NULLIF(demand, 0) < 2 THEN 'Critical'
        WHEN supply::DECIMAL / NULLIF(demand, 0) < 7 THEN 'Low'
        ELSE 'Normal'
    END AS supply_status
FROM inventory_daily
ORDER BY date_col;

-- ALTERNATIVE: With rolling average demand for smoother calculation
WITH rolling_demand AS (
    SELECT 
        date_col,
        supply,
        demand,
        AVG(demand) OVER (
            ORDER BY date_col 
            ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
        ) AS avg_demand_3day
    FROM inventory_daily
)
SELECT 
    date_col,
    supply AS current_supply,
    demand AS daily_demand,
    ROUND(avg_demand_3day, 1) AS avg_demand_3day,
    CASE 
        WHEN avg_demand_3day = 0 THEN 999
        WHEN avg_demand_3day > 0 THEN ROUND(supply / avg_demand_3day, 2)
        ELSE 0
    END AS days_of_supply_smoothed,
    CASE 
        WHEN avg_demand_3day = 0 THEN 'Excess'
        WHEN supply / NULLIF(avg_demand_3day, 0) < 2 THEN 'Critical'
        WHEN supply / NULLIF(avg_demand_3day, 0) < 7 THEN 'Low'
        ELSE 'Normal'
    END AS supply_status
FROM rolling_demand
ORDER BY date_col;

---

## Question 5: Third Highest Salary

**Interviewer:** "Find the third highest salary from an employees table. Handle edge cases where there might not be a third highest salary."

### Schema:
```sql
CREATE TABLE employees (
    employee_id INT,
    name VARCHAR(100),
    salary DECIMAL(10,2),
    department VARCHAR(50)
);
```

In [ ]:
%%sql
-- SOLUTION 1: Using DENSE_RANK (handles ties, keeps positions consecutive)
WITH salary_ranks AS (
    SELECT 
        salary,
        DENSE_RANK() OVER (ORDER BY salary DESC) as rank
    FROM employees
)
SELECT salary as third_highest_salary
FROM salary_ranks 
WHERE rank = 3;

-- SOLUTION 2: Using ROW_NUMBER (ignores ties, skips positions)
WITH salary_ranks AS (
    SELECT 
        salary,
        ROW_NUMBER() OVER (ORDER BY salary DESC) as rn
    FROM (SELECT DISTINCT salary FROM employees) distinct_salaries
)
SELECT salary as third_highest_salary
FROM salary_ranks 
WHERE rn = 3;

-- SOLUTION 3: Using LIMIT/OFFSET (PostgreSQL/MySQL)
SELECT DISTINCT salary as third_highest_salary
FROM employees 
ORDER BY salary DESC
LIMIT 1 OFFSET 2;

-- SOLUTION 4: Using subqueries (works on all databases)
SELECT salary as third_highest_salary
FROM employees e1
WHERE 2 = (
    SELECT COUNT(DISTINCT e2.salary)
    FROM employees e2
    WHERE e2.salary > e1.salary
);

-- SOLUTION 5: Using TOP/ranking (SQL Server)
SELECT salary as third_highest_salary
FROM (
    SELECT DISTINCT salary,
           DENSE_RANK() OVER (ORDER BY salary DESC) as rank
    FROM employees
) ranked
WHERE rank = 3;

-- ROBUST SOLUTION: Handle case where third highest doesn't exist
WITH salary_ranks AS (
    SELECT 
        salary,
        DENSE_RANK() OVER (ORDER BY salary DESC) as rank
    FROM employees
),
third_highest AS (
    SELECT salary as third_highest_salary
    FROM salary_ranks 
    WHERE rank = 3
)
SELECT 
    CASE 
        WHEN COUNT(*) > 0 THEN MAX(third_highest_salary)
        ELSE NULL 
    END as third_highest_salary
FROM third_highest;

---

## Question 6: Query Optimization Strategies

**Interviewer:** "How would you optimize a slow-running query? Walk me through your optimization strategies."

### Common Optimization Techniques:

**1. Avoid Using Too Many JOINs**
- **Problem**: Multiple JOINs can create Cartesian products
- **Solution**: Use subqueries, EXISTS, or break into smaller queries
- **Follow-up**: "If JOINs are inevitable, what do you do?"
  - Ensure proper indexing on JOIN columns
  - Filter early with WHERE clauses
  - Use INNER JOIN when possible instead of LEFT/RIGHT JOIN
  - Consider query execution plan

**2. Limit Output Rows**
- **Problem**: Returning unnecessary data
- **Solution**: Use LIMIT, TOP, or pagination
- **Follow-up**: "What if output is supposed to be over thousand rows?"
  - Implement pagination with OFFSET/LIMIT
  - Stream results in batches
  - Use indexed columns for ordering
  - Consider materialized views for complex aggregations

**3. Use CTEs Instead of Subqueries**
- **Problem**: Complex nested subqueries are hard to read and optimize
- **Solution**: Break down into readable CTEs
- **Trade-off**: CTEs might not always be faster, but they're more maintainable

**4. CTE vs Temporary Tables**
- **CTE**: Query-scoped, not materialized, good for readability
- **Temp Table**: Session-scoped, physically stored, can be indexed
- **Use CTE when**: Simple logic, single query execution
- **Use Temp Table when**: Complex logic, multiple references, need indexing

In [ ]:
%%sql
-- Example: Before and After Optimization

-- BEFORE: Inefficient query with multiple JOINs
SELECT 
    c.customer_name,
    o.order_date,
    p.product_name,
    oi.quantity,
    cat.category_name
FROM customers c
    JOIN orders o ON c.customer_id = o.customer_id
    JOIN order_items oi ON o.order_id = oi.order_id  
    JOIN products p ON oi.product_id = p.product_id
    JOIN categories cat ON p.category_id = cat.category_id
WHERE o.order_date >= '2023-01-01'
    AND cat.category_name = 'Electronics'
ORDER BY o.order_date DESC;

-- AFTER: Optimized with filtering and indexing strategy
-- 1. Filter early in subquery
-- 2. Use EXISTS instead of JOIN when possible
-- 3. Add proper indexes

-- Create indexes first:
-- CREATE INDEX idx_orders_date_customer ON orders(order_date, customer_id);
-- CREATE INDEX idx_products_category ON products(category_id, product_id);
-- CREATE INDEX idx_order_items_composite ON order_items(order_id, product_id);

WITH recent_electronics_orders AS (
    -- Filter orders and categories early
    SELECT DISTINCT o.order_id, o.customer_id, o.order_date
    FROM orders o
    WHERE o.order_date >= '2023-01-01'
      AND EXISTS (
          SELECT 1 FROM order_items oi 
          JOIN products p ON oi.product_id = p.product_id
          JOIN categories cat ON p.category_id = cat.category_id
          WHERE oi.order_id = o.order_id 
            AND cat.category_name = 'Electronics'
      )
)
SELECT 
    c.customer_name,
    reo.order_date,
    p.product_name,
    oi.quantity
FROM recent_electronics_orders reo
    JOIN customers c ON reo.customer_id = c.customer_id
    JOIN order_items oi ON reo.order_id = oi.order_id
    JOIN products p ON oi.product_id = p.product_id
    JOIN categories cat ON p.category_id = cat.category_id
WHERE cat.category_name = 'Electronics'
ORDER BY reo.order_date DESC;

-- PAGINATION for large result sets
SELECT 
    c.customer_name,
    o.order_date,
    p.product_name,
    oi.quantity
FROM customers c
    JOIN orders o ON c.customer_id = o.customer_id
    JOIN order_items oi ON o.order_id = oi.order_id  
    JOIN products p ON oi.product_id = p.product_id
    JOIN categories cat ON p.category_id = cat.category_id
WHERE o.order_date >= '2023-01-01'
    AND cat.category_name = 'Electronics'
ORDER BY o.order_date DESC, o.order_id DESC  -- Ensure deterministic ordering
LIMIT 100 OFFSET 0;  -- First page

---

## Behavioral Question Preparation 

**Since you mentioned they asked 3 behavioral questions in the remaining 20 minutes, here's how to prepare:**

### 1. "Tell me about a time you have to say no to a customer"

**STAR Framework:**
- **Situation**: Describe a specific scenario where a customer request was unreasonable/impossible
- **Task**: What was expected of you? 
- **Action**: How did you handle saying no while maintaining the relationship?
- **Result**: What was the outcome? How did the customer respond?

**Key Points:**
- Show empathy and understanding
- Offer alternative solutions
- Explain reasoning clearly
- Focus on long-term relationship over short-term satisfaction

### 2. "Tell me about a time you go out of your way to solve a problem beyond expectations"

**STAR Framework:**
- **Situation**: A problem that required extra effort
- **Task**: What was the minimum expected?
- **Action**: What additional steps did you take?
- **Result**: Impact on customer/business

**Key Points:**
- Demonstrate initiative and ownership
- Show analytical problem-solving
- Quantify the impact if possible
- Highlight collaboration with other teams

### 3. "Tell me about a time you have no immediate answer to a customer"

**STAR Framework:**
- **Situation**: Complex question you couldn't answer immediately
- **Task**: Customer needed an answer
- **Action**: How did you research/find the solution?
- **Result**: How you delivered the answer and prevented future occurrences

**Key Points:**
- Show honesty and transparency
- Demonstrate research/investigation skills
- Emphasize follow-through and communication
- Show how you turned uncertainty into learning

---

## Final Interview Strategy Recap

### Technical Preparation ✅
- **Simple Aggregation**: GROUP BY, COUNT, SUM patterns
- **Advanced String Aggregation**: STRING_AGG, LISTAGG, GROUP_CONCAT
- **Date Functions**: Generate date ranges, calculate intervals
- **Window Functions**: RANK(), ROW_NUMBER(), DENSE_RANK()
- **Query Optimization**: Indexing, JOIN strategies, pagination
- **Multiple Approaches**: Always have 2-3 ways to solve each problem

### Soft Skills ✅
- **Communication**: Explain approach before coding
- **Flexibility**: "There are several ways to approach this..."
- **Business Awareness**: Understand why the metric matters
- **Problem-Solving**: Handle edge cases and data quality issues

**Remember**: Chewy values customer obsession, so tie technical solutions back to business impact when possible!

**Good luck! 🐾**